.cream-bg{
    background-color: #f3eae3;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-img{
    width:900px;
    height: 650px;
    object-fit: cover;
    border-bottom-right-radius: 0px;
}
#btn{
    background-color: green;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 175px;
    border:2px solid black;
}
#btn:hover{
    background-color: black;
    color: gold;
}
.card-title{
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.card-text{
    text-align: justify;
    color:blueviolet;
}
.card{
    width:880px;
    height: 650px;

} 

